# below should be set to folder locations on local system

$global:msys2_parent = 'C:'
$global:d_msys2      = "$msys2_parent/msys64"

$global:d_git     =  "$env:ProgramFiles/Git"
$global:d_ruby_repo = "C:/ruby_build/ruby"
$global:d_rubyinstaller2_repo = "C:/ruby_build/rubyinstaller2"
# below is used by GitHub Actions and locally
$env:VCPKG_INSTALLATION_ROOT = "C:/vcpkg"
$global:d_vcpkg   =  $env:VCPKG_INSTALLATION_ROOT
$global:7z        =  "$env:ProgramFiles/7-Zip/7z.exe".replace('\', '/')

# limits parallel jobs to no more than 6
$global:jobs = (([int]$env:NUMBER_OF_PROCESSORS, 6) | Measure-Object -Minimum).Minimum

$global:d_repo   = $PSScriptRoot.replace('\', '/')

$global:orig_path = $env:Path

if ($build_sys -eq "msys2") {
  $global:base_path = ("$env:ProgramFiles/7-Zip;$d_git/cmd;" + `
    "$env:SystemRoot/system32;$env:ProgramFiles;$env:SystemRoot").replace('\', '/')
} else {
  # mswin
  $global:vcvars = "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"

  if (!(Test-Path -Path $vcvars -PathType Leaf )) {
    echo "File:`n$vcvars`ndoes not exist, please fix"
    exit 1
  }

  # These env changes are done with setup-ruby when using GitHub Actions
  if (get-command Set-VCVars-Env -erroraction silentlycontinue) {
    Set-VCVars-Env
  }

  $global:base_path    = $env:Path.replace('\', '/')
  $global:no_ruby_path = $base_path -replace '[^;]+?(Chocolatey|CMake|OpenSSL|Ruby|Strawberry)[^;]*;', ''
}
