$global:d_msys2   = "C:/msys64"
$global:d_git     =  "$env:ProgramFiles/Git"
$global:7z        =  "$env:ProgramFiles/7-Zip/7z.exe".replace('\', '/')
$global:base_path = ("$env:ProgramFiles/7-Zip;$d_git/cmd;" + `
  "$env:SystemRoot/system32;$env:ProgramFiles;$env:SystemRoot").replace('\', '/')
