name: mingw
on:
  push:
    branches:
      - '*'
  schedule:
    - cron: '45 1,8,15 * * *'
  workflow_dispatch:

jobs:
  mingw:
    strategy:
      fail-fast: false
    runs-on: windows-2022

    steps:
      - name: git config
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - name: Checkout ruby-loco
        uses: actions/checkout@v3

      - name: get ruby and rubyinstaller2
        timeout-minutes: 5
        run: |
          $gh = 'https://github.com'
          git clone -q --depth=1 --no-tags --branch=master  $gh/oneclick/rubyinstaller2.git ./rubyinstaller2
          git clone -q --depth=1 --no-tags --branch=master  $gh/ruby/ruby.git               ./ruby

      - name: Set up Ruby & MSYS2
        timeout-minutes: 8
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: install rust
        run: pacman -S --noconfirm --noprogressbar --needed mingw-w64-x86_64-rust

      - name: Cache - .downloaded-cache
        uses: actions/cache@v3
        with:
          path: .downloaded-cache
          key: dl-cache-win-mingw-${{ hashFiles('ruby/gems/bundled_gems') }}
          restore-keys: dl-cache-win-mingw-

      - name: build & install
        timeout-minutes: 30
        run:  ./1_0_build_install_64.ps1

      - name: test
        timeout-minutes: 70
        run:  ./2_0_test.ps1
        env:
          APPVEYOR: 'True'

      - name: upload asset
        timeout-minutes: 5
        uses: ./.github/actions/upload-binary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          ruby_path: ./ruby-mingw

      - name: save log artifact
        if: success() || failure()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_LOGS }}
          path: ./logs
